.customForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.labelAndInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 5px;
}

.labelAndInput Input {
  border: 1px solid whitesmoke;
}

.labelAndInput Label {
  font-size: smaller;
}

.action {
  margin-bottom: 20px;
}

.actions {
  display: flex;
  gap: 20px;
}

.cForm Button {
  margin-top: 5px;
}

.actionsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid gray;
}

.actionsSection h1 {
  margin-bottom: 20px;
}

.select {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-top: 20px;
}

.selectElement {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  padding: 8px;
  border-radius: 5px;
  width: 200px;
  outline: none;
}

.selectElement:hover {
  background-color: #444; /* Darker background on hover */
}

.cForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cForm Input {
  border: 2px solid gray;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid whitesmoke;
}

.display h1 {
  margin-bottom: 20px;
  margin-top: 5px;
}

.values {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid whitesmoke;
}

.customElement {
  margin-top: 20px;
}

@media screen and (max-width: 510px) {
  .customForm {
    padding-left: 20px;
    padding-right: 20px;
  }

  .actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .values {
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 20px;
  background-color: aliceblue;
  color: darkslateblue;
  font-weight: bold;
  font-size: larger;
}

@media screen and (max-width: 510px) {
}
